[submodule ".registry"]
	path = .registry
	url = https://github.com/swissstatsr/swissstatsr.r-universe.dev
	branch = HEAD
[submodule "BFS"]
	path = BFS
	url = https://github.com/lgnbhl/BFS
[submodule "SpiGesXML"]
	path = SpiGesXML
	url = https://github.com/SwissStatsR/SpiGesXML
[submodule "dcatapchr"]
	path = dcatapchr
	url = https://github.com/SwissStatsR/dcatapchr
[submodule "distrr"]
	path = distrr
	url = https://github.com/gibonet/distrr
[submodule "eneRgyVD"]
	path = eneRgyVD
	url = https://github.com/mick-weber/eneRgyVD
[submodule "ghactionsOGD"]
	path = ghactionsOGD
	url = https://github.com/ogdtg/ghactionsOGD
[submodule "impexpcsv"]
	path = impexpcsv
	url = https://github.com/SwissStatsR/impexpcsv
[submodule "noga"]
	path = noga
	url = https://github.com/SwissStatsR/noga
[submodule "propop"]
	path = propop
	url = https://github.com/statistik-aargau/propop
[submodule "seasonal"]
	path = seasonal
	url = https://github.com/christophsax/seasonal
[submodule "sgtourism"]
	path = sgtourism
	url = https://github.com/statistikSG/sgtourism
[submodule "submit"]
	path = submit
	url = https://github.com/SwissStatsR/submit
[submodule "zuericolors"]
	path = zuericolors
	url = https://github.com/StatistikStadtZuerich/zuericolors
[submodule "zueriplots"]
	path = zueriplots
	url = https://github.com/StatistikStadtZuerich/zueriplots
[submodule "zueritheme"]
	path = zueritheme
	url = https://github.com/StatistikStadtZuerich/zueritheme
[submodule "zueriverse"]
	path = zueriverse
	url = https://github.com/StatistikStadtZuerich/zueriverse
